<% first_name = @customer&.first_name.presence || "there" %>
<% bags_per_delivery = @subscription.quantity.presence || @plan.bags_per_delivery %>

<p>Hi <%= first_name %>,</p>

<p>Your <%= @plan.frequency.titleize %> &middot; <%= pluralize(bags_per_delivery, "bag") %> subscription has been cancelled.</p>

<p>We’d love your feedback. If there is anything we could have done better or differently, please email us and let us know.</p>

<p style="margin-top: 24px;">
  Thanks for having been a customer,<br>
  Acer Coffee
</p>
