<% first_name = @customer&.first_name.presence || "there" %>
<% bags_per_delivery = @subscription.quantity.presence || @plan.bags_per_delivery %>

<p>Hi <%= first_name %>,</p>

<p>Your <%= @plan.frequency.titleize %> &middot; <%= pluralize(bags_per_delivery, "bag") %> subscription has been cancelled.</p>

<p>If there’s anything we could have done better, you’re welcome to reply to this email and let us know.</p>

<p>You can start a new subscription anytime from our website if it makes sense for you in the future.</p>

<p style="margin-top: 24px;">
  Thanks for having been a customer,<br>
  Acer Coffee
</p>
